#line {
    display: block;
    margin-left: 40%;
    margin-right: 40%;
    border-style: inset;
    border-width: 2px;
    border-color: #2c2c2c;
}

.intro {
	background-image: url('../assets/home.png');
    width: 100%;
    height: 30vw;
    margin-top: 30px;
	background-repeat: no-repeat;
	background-size: cover;
	justify-content: center;
}

.bottom-content {
	background-image: url('../assets/home2.png');
    width: 100%;
    height: 25vw;
	background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

